.cloud-layout--navbar {
  .semi-navigation-list .semi-navigation-item-selected {
    background-color: var(--semi-color-primary-light-default);
  }

  .semi-navigation-header-logo {
    color: var(--semi-color-primary);
  }
}
