.cloud-music--layout {
  // display: flex;
  // flex-direction: column;
  width: 100%;
  height: 100%;

  // min-height: 100vh;

  .semi-backtop {
    right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #fff;
    background-color: var(--semi-color-primary);
    border-radius: 50%;
  }

  .semi-spin-wrapper {
    @apply flex flex-col items-center justify-center fixed;
  }
}
